{% extends "base.html" %}
{% block content %}
    <section class="s1">
        <div class="main-container">
            <div class="greeting-wrapper">
                <h1> Edit Profile </h1>
            </div>
            <form action="" method="post" id = "contact-form">
                {{ form.hidden_tag() }}
                <p>
                    {{ form.username.label }}<br>
                    {{ form.username(class="input-field") }}<br>
                    {% for error in form.username.errors %}
                    <span style="color: red;">[{{error}}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.about_me.label }}<br>
                    {{ form.about_me(class="input-field") }}<br>
                    {% for error in form.about_me.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.season_goals.label }}<br>
                    {{ form.season_goals(class="input-field") }}<br>
                    {% for error in form.season_goals.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>{{ form.submit(id="submit-button") }}</p>
            </form>
        </div>
    </section>
{% endblock %}
{% endblock %}