{% extends "base.html" %}

{% block content %}
    <section class="s1">
        <div class="main-container">
            <form action="" method="post" id = "contact-form">
                {{ form.hidden_tag() }}
                <p>
                    {{ form.title.label }}<br>
                    {{ form.title(class="input-field") }}<br>
                    {% for error in form.title.errors %}
                    <span style="color: red;">[{{error}}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.post.label }}<br>
                    {{ form.post(class="input-field") }}<br>
                    {% for error in form.post.errors %}
                    <span style="color: red;">[{{error}}]</span>
                    {% endfor %}
                </p>
                <p>{{ form.submit() }}</p>
            </form>
        </div>
    </section>
    <section class="s2">
        <div class = "main-container">
            <div class = "about-wrapper">
                <div class = "about-me">
                    <h4>Bio and Season Goals</h4>
                    <p>Butt Chugging!!!!</p>
                </div>
            </div>
        </div>
    </section>
    <section class="s1">
        <div class="main-container">
                <h3 style="text-align: center;">Some of my projects</h3>
                <div class="post-wrapper">
                    <div>
                        <div class="post">
                            <img class="thumbnail" src="../static/images/standIn.png">
                            <div class="post-preview">
                                <h6 class="post-title">Post Title</h6>
                                <p class="post-intro">This is a Sentence. Some More text</p>
                                <a target="_blank" href="#">Read More</a>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="post">
                            <img class="thumbnail" src="../static/images/standIn.png">
                            <div class="post-preview">
                                <h6 class="post-title">Post Title</h6>
                                <p class="post-intro">This is a Sentence. Some More text</p>
                                <a target="_blank" href="#">Read More</a>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="post">
                            <img class="thumbnail" src="../static/images/standIn.png">
                                <div class="post-preview">
                                    <h6 class="post-title">Post Title</h6>
                                    <p class="post-intro">This is a Sentence. Some More text</p>
                                    <a target="_blank" href="#">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}