{% extends "base.html" %}

{% block content %}
    <section class="s1">
        <div class="main-container">
            <h3 style="text-align: center;">Make a Post</h3>
            <form action="" method="post" id = "contact-form">
                {{ form.hidden_tag() }}
                <p>
                    {{ form.title.label }}<br>
                    {{ form.title(class="input-field") }}<br>
                    {% for error in form.title.errors %}
                    <span style="color: red;">[{{error}}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.post.label }}<br>
                    {{ form.post(class="input-field") }}<br>
                    {% for error in form.post.errors %}
                    <span style="color: red;">[{{error}}]</span>
                    {% endfor %}
                </p>
                <p>{{ form.submit() }}</p>
            </form>
        </div>
    </section>
    <section class="s2">
        <div class="main-container">
                <h3 style="text-align: center;">Recent Posts</h3>
                <div class="post-wrapper">
                    {% for post in posts %}
                        {% include '_Post.html' %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}