{% extends "base.html" %}

{% block content %}
    <section class="s1">
        <div class="main-container">
            <h3 style="text-align: center;">Sign In</h3>

            <form action="" method="post" id = "contact-form" novalidate>
                {{ form.hidden_tag() }}
                <p>
                    {{ form.username.label }}<br>
                    {{ form.username(class="input-field") }}<br>
                    {% for error in form.username.errors %}
                    <span style="color: red;">[{{error}}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.password.label }}<br>
                    {{ form.password(class="input-field") }}<br>
                    {% for error in form.password.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
                <p>{{ form.submit(id="submit-button") }}</p>
            </form>
        </div>
    </section>
    <section class="s1">
        <div class="main-container">

        </div>
    </section>
{% endblock %}