{% extends "base.html" %}

{% block content %}
    <section class="s1">
        <div class="main-container">
            <div class="greeting-wrapper">
                <h1> Welcome to Gods of Summer 2020! </h1>
            </div>
            <div class="intro-wrapper">
                <div class="left-column">
                    <img src= "{{ user.avatar(user.username) }}"id="profile-pic">
                    }
                </div>
                <div class="right-column">
                    
                    <div id="preview-shadow">
                        <div id="preview">
                            <div id="corner-tl" class="corner"></div>
                            <div id="corner-tr" class="corner"></div>
                            <h3>Current Score:</h3>
                            <p>150pts - Rank 1</p>
                            <div id="corner-bl" class="corner"></div>
                            <div id="corner-br" class="corner"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="s2">
        <div class = "main-container">
            <div class = "about-wrapper">
                <div class = "about-me">
                    <h4>Bio</h4>
                    {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
                    <h5>Season Goals</h5>
                    {% if user.season_goals %}<p>{{ user.season_goals }}</p>{% endif %}
                    {% if user == current_user %}
                    <p><a href="{{ url_for('edit_profile') }}">Edit your profile</a></p>
                    {% endif %}
                    {% if user.last_seen %}<p>Last seen on: {{ user.last_seen }}</p>{% endif %}
                </div>
            </div>
        </div>
    </section>
    <section class="s1">
        <div class="main-container">
                <h3 style="text-align: center;">Most Recent Activity</h3>
                <div class="post-wrapper">
                    {% for post in posts %}
                        {% include '_miniPost.html' %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}